	<footer id="contact">
		<ul id="colophon">
			<li>
				<h3>Get in Touch</h3>
				<p>If you're interested in working with Field Strategies, please feel free to shoot us an email with some general information.</p>
			</li>
			<li id="contact-us">
				<h3>Contact Us</h3>
				<p><i class="icon-map-marker"></i><a href="https://maps.google.com/maps?q=888+16th+Street+NW,+Suite+650+Washington,+DC+20006&hl=en&sll=40.697488,-73.979681&sspn=0.661144,1.452942&hnear=888+16th+St+NW+%23650,+Washington,+District+of+Columbia+20006&t=m&z=16" title="Get directions"><strong>East Coast</strong><br />888 16th Street NW, Suite 650<br />Washington, DC 20006</a></p>
				<p><i class="icon-map-marker"></i><a href="https://www.google.com/maps/preview#!q=PO+Box+5448%2C+Sacramento%2C+CA+95817" title="Get directions"><strong>West Coast</strong><br />PO Box 5448<br />Sacramento, CA 95817</a></p>
				<p><i class="icon-envelope-alt"></i><a href="mailto:info@fieldstrategies.com" title="Get in touch via email">info [at] fieldstrategies [dot] com</a></p>
				<p><i class="icon-phone"></i>202.540.8027</p>
			</li>
		</ul>
		<div id="credits">
			<p id="legal"><strong>&copy; Field Strategies 2013.</strong><i>Built by <a href="http://www.jefflouden.com" title="Jeffrey Louden">Jeff</a>. Designed by <a href="http://www.zachstubenvoll.com" title="Zach Stubenvoll">Zach</a></i></p>
		</div>
	</footer>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
	<script async src="js/core.min.js"></script>
</body>
</html>