{% include header.html %}
{% include nav.html %}
	<header role="banner">
		<h1>{{ site.name }}</h1>
		<div id="intro">
			<h2>Producing An Impact On Any Scale.</h2>
			<p>Reprepraectem quidessum utamus dolor aut esci ut alit quo vellupt atiistrum aut et quaecae ruptur ad que offictur arum et dellect orepudis aut fuga. Andantio volupta vid minvelicab in cuptatia dunt ut volut magnatureped ut quiassi ncides am quibusam everibus adis simporis quiaecto voluptinum volupicitat.</p>
		</div>
	</header>
	<section role="main" id="main">
		{{ content }}
	</section>
{% include footer.html %}