{% include header.html %}
{% include nav.html %}
	<header id="hd" role="banner">
		<h1>{{ site.name }}</h1>
	</header>
	<section id="intro">
		<header>
			<h2>Impact.  At Any Scale.</h2>
		</header>
		<p>Field Strategies has redefined the campaign and advocacy industries’ standards of voter contact, message delivery and voter turnout for over 15 years.  Our clients benefit from an unmatched level of strategic planning and execution to build custom and comprehensive campaigns.</p>
	</section>
	<section role="main" id="main">
		{{ content }}
	</section>
{% include footer.html %}