{% include header.html %}
{% include nav.html %}
	<header id="hd" role="banner">
		<h1>{{ site.name }}</h1>
	</header>
	<section id="intro">
		<header>
			<h2>Impact. At Any Scale.</h2>
		</header>
		<p>For over 15 years, Field Strategies has redefined the campaign and advocacy industries’ standards of voter contact, message delivery and voter turnout. Our diverse team of veteran strategists and organizers delivers innovative solutions to what every campaign needs most: Impact. <strong>At Any Scale.</strong></p>
	</section>
	<section role="main" id="main">
		{{ content }}
	</section>
{% include footer.html %}